*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
  display: inline;
}

.hero {
  height: 400px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("html-css-collage-concept-with-person.jpg");
  background-position:content;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(63, 8, 192);
  
  background-color: rgb(17, 15, 15);
}  
 } 